:root {
    --primary-color: #000dc9;
    --secondary-color: #ffee00;
    --alert-color: #ff4444;
}

* {
    font-family: 'Consolas', Arial;
    font-weight: 100;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: white;
}

#app-root {
    margin: 24pt;
}

a::before {
    content: '>';
    margin-right: 2pt;
}
a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 2pt;
    margin-right: 2pt;
}

h2 {
    color:var(--secondary-color);
}
h2:before {
    content: '>';
    margin-right: 4pt;
}

.alert {
    font-weight: bold;
    margin: 24pt 0pt;
    padding: 8pt;
    background-color: var(--alert-color);
    -webkit-box-shadow: 4px 8px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 8px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 8px 21px -6px rgba(0,0,0,0.37);
}
.alert > a {
    color: white;
}