:root {
    --theme-blue: #009ebf;
    --theme-purple: #8000bf;
    --theme-red: #bf2100;
    --theme-green: #3ebf00;
    --theme-gray: #aaa;
}

.text-gray { color: var(--theme-gray); }
.text-blue { color: var(--theme-blue); }
.text-purple { color: var(--theme-purple); }
.text-red { color: var(--theme-red); }
.text-green { color: var(--theme-green) }

.bold { font-weight: bold; }

* {
    font-family: 'Consolas', Arial;
    font-weight: 100;
}
body {
    margin: 0;
}
#app-root {
    margin: 16pt;
}
a::before {
    content: '>';
    margin-right: 2pt;
}
a {
    color: var(--theme-blue);
    text-decoration: none;
    margin-left: 2pt;
    margin-right: 2pt;
}

h2 {
    color: var(--theme-blue);
}
h2:before {
    content: '>';
    margin-right: 4pt;
}