:root {
    --blue1: #0047BE;
    --blue1point5: #0053e4;
    --blue2: #00aaff;
    --blue3: #00ffff;

    --theme-blue: #009ebf;
    --theme-purple: #8000bf;
    --theme-red: #bf2100;
    --theme-green: #3ebf00;
    --theme-gray: #aaa;
}

.text-gray { color: var(--theme-gray); }
.text-blue { color: var(--theme-blue); }
.text-purple { color: var(--theme-purple); }
.text-red { color: var(--theme-red); }
.text-green { color: var(--theme-green) }

.bold { font-weight: bold; }

* {
    font-family: 'Consolas', Arial;
    font-weight: 100;
}
body {
    margin: 0;
    background-color: var(--blue1);
    color: white;
}
#app-root {
    margin: 12pt;
}
a::before {
    content: '>';
    margin-right: 2pt;
}
a.icon-link::before {
    content: '';
    margin-right: 0;
}
a {
    color: var(--blue3);
    text-decoration: none;
    margin-left: 2pt;
    margin-right: 2pt;
}
a.icon-link {
    margin: 4pt 8pt;
}

h1 {
    color: var(--blue3);
    font-size: 24pt;
    padding-bottom: 6pt;
    border-bottom: 2pt solid var(--blue2);
}
h1:before,h2:before {
    content: '>';
    margin-right: 4pt;
}

ul {
    padding-left: 24pt;
}

ul > li {
    margin: 8pt 0pt;
}