.alert {
    font-weight: bold;
    margin: 24pt 0pt;
    padding: 16pt;
    border-radius: 12pt;
    background-color: var(--theme-red);
    color: white;
    -webkit-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
}
.alert > a {
    color: white;
}