.panel {
    padding: 16pt;
    margin: 12pt 0pt;
    border-radius: 6pt;
    border-color: inherit;
    background-color: var(--blue1point5);

    /* Shadow */
    -webkit-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
}
.panel-header { 
    margin: 8pt 0pt;
    padding-bottom: 8pt;
    border-bottom: 1pt solid;
}
.panel-title { 
    font-weight: bold;
    margin: 4pt 0pt;
}
.panel-subtitle { 
    font-style: italic;
    margin: 2pt 0pt;
}
.panel-footer {
    margin: 8pt 0pt;
}