.panel {
    border-radius: 6pt;
    border-color: inherit;
    background-color: var(--less-black);
    overflow: hidden;

    /* Shadow */
    -webkit-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
}
.panel-image {
    width: 100%;
}
.panel-body {
    margin: 16pt;
}
.panel-body > h3 {
    font-weight: bold;
    margin: 4pt 0pt;
}
.panel-body > h4 { 
    font-style: italic;
    margin: 2pt 0pt;
}
.panel-body > hr {
    margin: 12pt 0pt;
}
.panel-body > ul {
    list-style-type: circle;
}