.panel {
    padding: 8pt 16pt;
    margin: 16pt 0pt;
    border-radius: 12pt;
    -webkit-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
}
.panel a {
    color: inherit;
}

.panel-gray { 
    background-color: var(--theme-gray);
    color: white;
}
.panel-blue { 
    background-color: var(--theme-blue);
    color: white; 
}
.panel-purple { 
    background-color: var(--theme-purple);
    color: white;
}
.panel-green { 
    background-color: var(--theme-green);
    color: black;
}
.panel-red { 
    background-color: var(--theme-red);
    color: white;
}