.header {
    margin: 0pt;
    background-color:var(--primary-color);
    color: white;
    border-radius: 16pt;
}

.navbar {
    padding: 16pt;
}

.nav-link {
    color: white;
    margin-right: 12pt;
}

.title {
    margin: 80pt 20pt;
    display: inline-block;
}
.title-upper {
    margin: 0;
    font-size: 42pt;
    border-bottom: 2pt solid #aaa;
}
.title-lower {
    margin: 0;
    font-size: 14pt;
    text-align: right;
    color: #aaa;
}