.nav-link {
    margin-right: 12pt;
}

.title {
    margin: 80pt 0pt;
    display: inline-block;
    color: var(--secondary-color);
}
.title-upper {
    margin: 0;
    font-size: 64pt;
    border-bottom: 2pt solid #aaa;
}
.title-lower {
    margin: 0;
    font-size: 18pt;
    text-align: right;
    color: #aaa;
}