.navbar {
    text-align: right;
    background-color: var(--theme-blue);
    padding: 8pt 16pt;
    border-radius: 12pt;
    -webkit-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
    box-shadow: 4px 4px 21px -6px rgba(0,0,0,0.37);
}

.nav-list {
    margin: 0;
    padding: 0pt;
}

.nav-link {
    list-style: none;
    margin: 12pt 0pt;
}
.nav-link > a {
    color: white;
}

.title {
    margin: 80pt 0pt;
    display: inline-block;
}
.title-upper {
    margin: 0;
    font-size: 44pt;
    color: var(--theme-blue);
}
.title-lower {
    margin: 0;
    font-size: 18pt;
    text-align: right;
    border-top: 1px solid #aaa;
    color: #aaa;
}