.hero {
    margin: 0pt 8pt;
    padding: 100pt 0pt;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
}

.hero-container {
    margin: auto;
    display: inline-block;
}
.title-upper {
    margin: 0;
    font-size: 44pt;
    color: var(--blue3);
    border-bottom: none;
}
.title-upper::before {
    content: '';
}
.title-lower {
    margin: 0;
    font-size: 18pt;
    text-align: left;
    padding-top: 4pt;
    border-top: 1px solid #ccc;
    color: #ccc;
}
.blurb {
    text-align: left;
}