.navbar {
    text-align: right;
}

.nav-toggle {
    background: none;
    border: none;
    color: inherit;
}

.nav-list {
    margin: 0;
    padding: 0pt;
}

.nav-link {
    list-style: none;
    margin: 12pt 0pt;
}
.nav-link > a {
    color: white;
}